*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.loading{
    margin:10px;
}
.post-container{
padding:10px 20px;
display: grid;
grid-template-columns:repeat(auto-fit, minmax(300px, 1fr));
align-items:center;
justify-content:center;
width:100vw;
height:100vh;
gap:5px;
}
.card{
    padding:10px 20px;
    border:2px solid rgb(131, 131, 196);
    border-radius: 10px;
    
}
.icon{
    margin-right:8px;
    color: rgb(131, 131, 196);
    cursor:pointer;

}
.icon-container{
    border-bottom:1px solid rgb(131, 131, 196) ;
    position:relative;
}
.modal{
    width:100vw;
    height: 100vh;
    display:flex;
    background-color:rgba(0,0,0,0.8);
    position:fixed;
    top:0px;
    left:0px;
    z-index:10;
    padding:15px 20px;

}
.modal .container{
    margin:auto auto;
    padding:20px 20px;
    width:20%;
    height:30%;
    background-color: white;
    border-radius:10px;
    border:1px solid rgb(131, 131, 196) ;
}
.modal button{
    margin:5px;
    padding:3px 10px;
    border-radius: 3px;
}
h2{
margin:15px;
}
form{
    margin:auto auto;
    width:40%;
    height:50%;
    background-color: white;
    border-radius: 10px;
    padding:10px 20px;
    display:flex;
flex-direction: column;
gap:10px;
align-items:center;
justify-content:center;
}
.tooltips{
    /* animation-name: move-tooltips;
  animation-duration: 1.5s; */
    transform:translateX(-200px);
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    transform:translateX(-50%);
    position: absolute;
  z-index: 1;
  transition: transform 1.5s;
}

/* @keyframes move-tooltips {
    from {transform:translateX(-300px)}
    to {transform:translateX(100px)}
  } */
  .archived-icon{
    margin-right:8px;
    color: rgb(131, 131, 196);
    cursor:pointer;
  }
  .archived-icon:target .tooltips{
    transform:translateX(80%)
  }

